<?xml version="1.0"?>
<clickhouse>
    <listen_host>127.0.0.1</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <interserver_http_port>9009</interserver_http_port>
    
    <path>/Users/saurabhagrawal/Desktop/samples/rds-ch-sync/clickhouse-data/</path>
    <tmp_path>/Users/saurabhagrawal/Desktop/samples/rds-ch-sync/clickhouse-data/tmp/</tmp_path>
    <user_files_path>/Users/saurabhagrawal/Desktop/samples/rds-ch-sync/clickhouse-data/user_files/</user_files_path>
    <format_schema_path>/Users/saurabhagrawal/Desktop/samples/rds-ch-sync/clickhouse-data/format_schemas/</format_schema_path>
    
    <users>
        <default>
            <password></password>
            <networks incl="networks" replace="replace">
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
        </default>
    </users>

    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <use_uncompressed_cache>0</use_uncompressed_cache>
            <load_balancing>random</load_balancing>
        </default>
    </profiles>

    <quotas>
        <default>
            <interval>
                <duration>3600</duration>
                <queries>0</queries>
                <errors>0</errors>
                <result_rows>0</result_rows>
                <read_rows>0</read_rows>
                <execution_time>0</execution_time>
            </interval>
        </default>
    </quotas>
    
    <!-- Enable Kafka engine -->
    <kafka>
        <enable_kafka_engine>true</enable_kafka_engine>
    </kafka>
    
    <!-- PID file -->
    <pid_file>/Users/saurabhagrawal/Desktop/samples/rds-ch-sync/clickhouse-data/clickhouse.pid</pid_file>
</clickhouse>